<!-- Components info: https://webdev.dartlang.org/components -->

<body>
  <div id="user" class="ax_default _形状" >
    <div id="user_div" class=""></div>
    <input id="user_text" ng-model="data.user_text"  (blur)="examine_user()" class="text " placeholder="昵称">
  </div>
      <p id="user_warning"  >
    <font id="warning1" size="0.5" color="red">您输入的用户名不符合格式，长度为3~10位，并且仅包含数字和字母。</font>
  </p>
  <div id="psd" class="ax_default _形状">
    <div id="psd_div" class=""></div>
    <input id="psd_text" ng_model="data.psd_text" class="text " placeholder="密码">
  </div>
   <p id="psd_warning">
    <font id="warning2" size="0.5" color="red">您输入的密码不符合格式，长度为6~18位，需包含数字，字母和特殊符号。</font>
  </p>
  <!-- Unnamed (矩形) -->
  <div id="phone" class="ax_default _形状">
    <div id="phone_div" class=""></div>
      <input id="phone_text" class="text " placeholder="手机号码">
  </div>
   <p id="phone_warning">
    <font id="warning3" size="0.5" color="red">输入的手机号码错误</font>
  </p>
  <!-- Unnamed (矩形) -->
  <div id="mes" class="ax_default _形状">
    <div id="mes_div" class=""></div>
      <input id="mes_text" class="text " placeholder="短信验证码">
  </div>
   <p id="mes_warning">
    <font id="warning4" size="0.5" color="red">您输入的验证码错误</font>
  </p>
  <!-- Unnamed (矩形) -->
  <div id="psdex" class="ax_default _形状">
    <div id="psdex_div" class=""></div>
      <input id="psdex_text" class="text " placeholder="确认密码">
  </div>
   <p id="psdex_warning">
       <font id="warning5" size="0.5" color="red">确认密码与密码不相符</font>
  </p>
    <!-- Unnamed (矩形) -->
    <div id="tit" class="ax_default _标题_1">
      <div id="tit_div" class=""></div>
      <div id="tit_text" class="text ">
        <p><span style="font-family:'Arial Negreta', 'Arial Normal', 'Arial';font-weight:700;">欢迎注册慕慧教育</span></p>
      </div>
    </div>

    <!-- Unnamed (图像) -->
    <div id="pic" class="ax_default _图像">
      <img id="pic_img" class="img " src="u17.jpg"/>
      <div id="pic_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="send" class="ax_default button">
      <div id="send_div" class=""></div>
      <input type="button" id="send_text" class="text " value="发送验证码">
    </div>

    <!-- Unnamed (矩形) -->
    <div id="regist" class="ax_default link_button">
      <div id="regist_div" class=""></div>
      <input type="button" id="regist_text" class="text " (click)="click_register()" value="立即注册">
    </div>

</body>
