<body background="SeaAndSky.jpg">
      
      <div id="hd">&nbsp;&nbsp;muedu&nbsp;慕慧教育&nbsp;慕名而来，智慧而归</div>
      <div id="divcss5"><img src="tx.png" /></div> 
      <div id="box"></div>
      <div id="format">
        <form id="form1">
        <input type="text" id="account"  onfocus="this.value=''" placeholder="账号" onblur="if(this.value=='')this.value=''" />
        <br>
        <br>
        <input type="password" id="myPassword"  onfocus="this.value=''"placeholder="密码" onblur="if(this.value=='')this.value=''" />        
        <br>
        <br>
        <input type="checkbox" id="remPw" />记住密码
        <a id="forgPw"href="https://www.runoob.com/">忘记密码？</a> 
        <br> 
        <br>
        <input type="submit" id="signIn" value="登录"  
         onmouseover="this.style.backgroundColor='#87CEFA'"
         onmouseout="this.style.backgroundColor='#1E90FF'" />
         <br>
         <br>
         <a id="create" href="https://www.runoob.com/">点我注册</a> 
    </form>
      </div>
      </body>
